.documents-list-header-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 4rem;

  h2 {
    color: #1976d2;
  }
  h4 {
    color: rgba(0, 0, 0, 0.6)
  }
}

.documents-list-content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}